// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.navbar-brand{
    font-size: 10px;
}

.nav-link{
    font-size: 20px;
    margin-left: 40px;
}

.logo{
    width: 20%;
}