.experience{
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 300px;;
    border-radius: 5px;
}



.graphic{
    text-align: left;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 300px;;
    border-radius: 5px;
}


.experience h2{
    margin-right: auto;
    font-size: 25px;
    font-family: 'Montserrat';
}

